@item = Item.new

.container
  - if @items.empty?
    %span.text-warning There are no tasks!
  - else
    %ul
      - @items.each do |task|
        %li= task.task


.container
  = form_for @item, url:{action: "create"}, html: {class: "nifty_form"} do |f|
    = f.text_field :task
    = f.submit "Add to todo list"
