<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11224104_10207285176153520_7696842481787616927_n.jpg?oh=3f0323d112d3df7665c8dae9d56ba71a&oe=578AE946" width = 30% height = auto>
<div>
  
</div>

<ul>
  <% @items.each do |item| %>
  <li><%= item.item =%></li>
  <% end %>
</ul>