.container
  - if @items.empty?
    %span.text-warning There are no tasks!
  - else
    %ul
      - @items.each do |task|
        %li= task.task
        
.container
  %form{ :action => "/create", :method => "post"}
    %fieldset
      %label{:for => @items} Add to to-do list
      %input{:type => "text", :task => "task", :class => "string"}
    %input{:type => "submit", :value => "Add to list", :class => "button"}